<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my profile</title>

    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .fixed-bottom {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Style for the icon */
        .icon {
            font-size: 1.5rem;
            margin-right: 5px;
        }

        /* Style for showing name on hover */
        #submit-btn:hover .name {
            display: inline;
        }

        .name {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-100 font-sans text-gray-800"> 
    <div class="container mx-auto px-4">
        <!-- Icon for Submit a Secret -->
        <button id="submit-btn" class="text-blue-500 font-bold flex items-center">
            <i class="icon far fa-comment"></i> <!-- Icon -->
            <span class="name hidden md:inline">John Doe</span> <!-- Hidden by default -->
        </button> 
        <br><hr>
        <button id="logout-btn" class="text-red-500 font-bold">Logout</button> 
        <br><hr>

        <div id="content-area" class="mb-24"></div>

        <div class="fixed-bottom">
            <button id="dashboard-btn" class="mr-4 text-blue-500 font-bold">Dashboard</button>
            <button id="my-posts-btn" class="text-blue-500 font-bold">My Posts</button> 
        </div>
    </div>

    <script>
        $(document).ready(function() {
            const renderDashboardContent = () => {
                $.get('/dashboard', function(data) {
                    $('#content-area').html(data);
                });
            };

            const renderMyPostsContent = () => {
                $.get('/my_posts', function(data) {
                    $('#content-area').html(data);
                });
            };

            $('#dashboard-btn').click(function(event) {
                event.preventDefault(); 
                renderDashboardContent();
            });

            $('#my-posts-btn').click(function(event) {
                event.preventDefault();
                renderMyPostsContent(); 
            });

            $('#submit-btn').click(function(event) {
                event.preventDefault(); 
                window.location.href = "/submit"; 
            });

            $('#logout-btn').click(function(event) {
                event.preventDefault(); 
                window.location.href = "/logout"; 
            });

            renderDashboardContent();
        });
    </script>
</body>
</html>
